$main-bg-color:           #011f4b;
$navbar-main-color:       #005b96;
$navbar-active-color:     #ff9f1c;
$panel-header-color:      #03396c;
$panel-body-color:        #b3cde0;
$text-color-dark:         #011627;
$text-color-bright:       #fdfffc;
$button-primary:          #2ec4b6;
$button-danger:           #e71d36;
$button-secondary:        #ff9f1c;
$text-color-grey:         #cccccc;
$dark-overlay-gradient-1: #100010;
$dark-overlay-gradient-2: #0a1c1d;
$message-success:         rgba(28, 196, 90, 0.77);
$message-danger:          #e71d36;
$message-warning:         #ffd522;
