<div class="container register-wrapper">
  <div class="row">
    <div class="col-lg-6 col-sm-8 mx-auto register-form">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p-panel header="Signup">
          <div class="row my-4">
            <div class="col-10 mx-auto">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user-circle-o"></i></span>
                <span class="ui-float-label" style="width: 100%">
                  <input id="float-input" type="text" pInputText [formControl]="username">
                  <label for="float-input">
                    <span *ngIf="form.controls['username'].untouched || form.controls['username'].valid">Username</span>
                    <span class="text-danger"
                          *ngIf="form.controls['username'].touched && !form.controls['username'].valid">
                      <span *ngIf="form.controls['username'].errors['required']">Username is required</span>
                      <span *ngIf="form.controls['username'].errors['minlength']">Must be at least 6 characters</span>
                    </span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-10 mx-auto">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
                <span class="ui-float-label" style="width: 100%">
                  <input id="float-input-2" type="text" pInputText [formControl]="email">
                  <label for="float-input-2">
                    <span *ngIf="form.controls['email'].untouched || form.controls['email'].valid">Email</span>
                    <span class="text-danger" *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                      <span *ngIf="form.controls['email'].errors['required']">Email is required</span>
                      <span *ngIf="form.controls['email'].errors['pattern']">Must be in valid Email format</span>
                    </span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-10 mx-auto">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <span class="ui-float-label" style="width: 100%">
                  <input id="float-input-3" type="password" pInputText [formControl]="password">
                  <label for="float-input-3">
                    <span *ngIf="form.controls['password'].untouched || form.controls['password'].valid">Password</span>
                    <span class="text-danger"
                          *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                      <span *ngIf="form.controls['password'].errors['required']">Password is required</span>
                      <span *ngIf="form.controls['password'].errors['minlength']">Must be at least 6 characters</span>
                    </span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <div class="row my-4" *ngIf="form.controls['password'].valid">
            <div class="col-10 mx-auto">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <span class="ui-float-label" style="width: 100%">
                  <input id="float-input-4" type="password" pInputText [formControl]="verifiedPassword">
                  <label for="float-input-4">
                    <span
                      *ngIf="form.controls['verifiedPassword'].untouched || form.controls['verifiedPassword'].valid">Confirm Password</span>
                    <span class="text-danger"
                          *ngIf="form.controls['verifiedPassword'].touched && !form.controls['verifiedPassword'].valid">
                      <span *ngIf="form.controls['verifiedPassword'].errors['required']">This field is required</span>
                      <span
                        *ngIf="form.controls['verifiedPassword'].errors?.MatchPassword">Password does not match</span>
                    </span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <p-footer>
            <button pButton type="submit" icon="fa-check" label="Submit" class="ui-button-success"
                    [disabled]="!form.valid"></button>
            <small class="text-muted">Already have an account? <a [routerLink]="['/login']">Sign in now</a>
            </small>
          </p-footer>
        </p-panel>
      </form>
    </div>
  </div>
</div>
