<p-growl [(value)]="growlMessages"></p-growl>
<p-sidebar [(visible)]="updateAvailable" position="top" [blockScroll]="false" styleClass="ui-sidebar-sm">
  <h4>Update available</h4>
  <button pButton (click)="onRefreshClick()" (mouseenter)="onBtnHover()" (mouseleave)="onBtnOffHover()" label="Click me to update" [icon]="updateBtnIcon" class="ui-button-success"></button>
</p-sidebar>

<div class="app-wrapper">
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
