<section class="bg-home" id="home">
  <div class="bg-overlay"></div>
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <h1 class="home-title text-white">TypeScript OpenAPI</h1>
            <p class="pt-4 home-sub-title text-white mx-auto">Empower your NodeJS ExpressJS Backend with TSOA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features-wrapper p-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-12">
        <div class="title text-center">
          <h2>Features</h2>
          <span class="title-border-bottom">
            <i class="fa fa-eercast"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row vertical-content mt-4 pt-4">
      <div class="col-lg-6 col-sm-12 mt-2">
        <img src="/assets/img/typescript.png" alt=""
             class="img-fluid rounded">
      </div>
      <div class="col-lg-6 col-sm-12 mt-2 text-center d-flex flex-column justify-content-center">
        <h2>JavaScript that scales.</h2>
        <div class="features-border mx-auto mt-3"></div>
        <p class="text-muted mt-2">Types enable JavaScript developers to use highly-productive development tools and
          practices like static checking and code refactoring when developing JavaScript applications.</p>
      </div>
    </div>
    <div class="row vertical-content mt-4 pt-4">
      <div class="col-lg-8 col-sm-12 mt-2 text-center d-flex flex-column justify-content-center">
        <h2>OpenAPI Specification is an API description format for REST APIs</h2>
        <div class="features-border mx-auto mt-3"></div>
        <ul class="text-left mt-2">
          <li class="text-muted">Design-first users: use Swagger Codegen to generate a server stub for your API. The
            only thing left is to implement the server logic – and your API is ready to go live!
          </li>
          <li class="text-muted">Use Swagger Codegen to generate client libraries for your API in over 40 languages.
          </li>
          <li class="text-muted">Use Swagger UI to generate interactive API documentation that lets your users try out
            the API calls directly in the browser.
          </li>
          <li class="text-muted">Use the spec to connect API-related tools to your API. For example, import the spec to
            SoapUI to create automated tests for your API.
          </li>
          <li class="text-muted">And more! Check out the open-source and commercial tools that integrate with Swagger.
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-12 mt-2">
        <img src='/assets/img/oai.png' alt=""
             class="img-fluid rounded">
      </div>
    </div>
  </div>
</section>
