@import '../../../variables';

/**
Home
 */
.bg-home {
  background: url('/assets/img/bg-home.png') no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, $dark-overlay-gradient-1, $dark-overlay-gradient-2);
    background: -webkit-linear-gradient(to right, $dark-overlay-gradient-1, $dark-overlay-gradient-2);
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }

  .home-center {
    position: relative;
    top: 50%;
  }
}

.features-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;

  span.title-border-bottom {
    padding: 0 8px;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      background: rgb(218, 218, 218);
      width: 45px;
      height: 1px;
      top: 9px;
      position: absolute;
      left: 100%;
    }
    &:after {
      content: "";
      background: rgb(218, 218, 218);
      width: 45px;
      height: 1px;
      top: 9px;
      position: absolute;
      right: 100%;
    }

    i {
      color: $navbar-active-color;
    }
  }

  .features-border {
    height: 2px;
    width: 20%;
    background-color: $navbar-main-color;
  }
}
