@import '../../../variables';

.navbar {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  li {
    &:focus {
      outline: none;
    }
  }
  a {
    color: $text-color-grey;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $navbar-active-color;
    }
    &:focus {
      outline: none;
    }
    &.active {
      color: $navbar-active-color;
    }
  }

  &.scroll-active {
    background-color: $navbar-main-color;
    opacity: 0.8;
    border-bottom: $navbar-active-color 2px solid;
    margin-bottom: 3rem;
  }

  .navbar-toggler {
    outline: none;
    .fa {
      color: $text-color-bright;
    }
  }
}
