<nav class="navbar navbar-expand-md fixed-top" appNavbarScroll
     [className]="'scroll-active'"
     [ngClass]="{'scroll-active': !atHome}">
  <a class="navbar-brand" [routerLink]="['']">TSOAsandbox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/resume']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">RESUME</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!_authService.isLoggedIn()">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">SIGN UP</a>
      </li>
      <li class="nav-item" *ngIf="!_authService.isLoggedIn()">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">SIGN IN</a>
      </li>
    </ul>
  </div>
</nav>
